<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Application</title>
</head>
<body>
<div class="header"><strong>Blog Application</strong></div>
<div class="topnav">
    <a th:href="@{/}">Back</a>
</div>
<div >
    <form action ="#" th:action="@{/savePost}" th:object="${post}" method="POST">

        <input type="hidden"  th:field="*{id}">
        <input type="date" th:field="*{createdAt}" disabled>
        <div>
            <textarea rows="2" cols="100" th:type="text" placeholder="Author.." th:field="*{author}"></textarea>
        </div>
        <div>
            <textarea rows="2" cols="100" th:type="text" placeholder="Title.." th:field="*{title}"></textarea>
        </div>
        <div>
            <textarea rows="5" cols="100" th:type="text" placeholder="Excerpt.." th:field="*{excerpt}"></textarea>
        </div>
        <div>
            <textarea rows="30" cols="100" th:type="text" placeholder="Write your blog..." th:field="*{content}"></textarea>
        </div>
        <div>
            <textarea rows="2" cols="100" type="text" name="tags" placeholder="Tags.." >[[${tags}]]</textarea>
        </div>
        <div>
            <input type="submit" value="Update">
        </div>
    </form>
</div>
<div class="footer"></div>

</body>
</html>